/* ===== GLOBAL ===== */
* {
  box-sizing: border-box;
}

.popup-container {
  height: 100%;
  max-width: 100%;
  padding: 12px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;

  /* LIGHT THEME */
  background: #f4f6ff;
  color: #1a1a1a;
}

/* ===== DARK THEME ===== */
.popup-container.dark {
  background: #121212;
  color: #eaeaea;
}

/* ===== HEADER ===== */
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== INPUT ===== */
.input {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #ffffff;
  color: #000;
}

.popup-container.dark .input {
  background: #1e1e1e;
  color: #ffffff;
}

/* ===== BUTTON ===== */
.ask-btn {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #4f6cff;
  color: white;
}

.settings-btn{
  cursor: pointer;
  background: #ffffff;
  color: #000000;
}

/* ===== RESPONSE BOX ===== */
.response-box {
  margin-top: 10px;
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;

  background: #ffffff;
  color: #000000;
}

.popup-container.dark .response-box {
  background: #1e1e1e;
  color: #eaeaea;
}

.popup-container.dark .settings-btn{
  background: #1e1e1e;
  color: #eaeaea;
}
